@model DTPortal.Web.ViewModel.RateCard.RateCardDetailsViewModel
@using DTPortal.Web.Enums
@using DTPortal.Web.ExtensionMethods

@{
    ViewData["Title"] = "Details";
}

@{await Html.RenderPartialAsync("_AlertBox");}

<div class="row">
    <div class="col-md-12">
        <div class="card-custom">
            <div class="card-body">
                @*<div style="padding:10px 0px">
                    Service Name : @Model.RateCard.ServiceName
                </div>*@
                <div style="padding:10px 0px">
                    Service For : @Model.RateCard.StakeHolder
                </div>
                <div style="padding:10px 0px">
                    Fee Per Transaction : @Model.RateCard.Rate
                </div>
                <div style="padding:10px 0px">
                    Rate Valid From : @Model.RateCard.RateEffectiveFrom
                </div>
                <div style="padding:10px 0px">
                    Rate Valid To : @Model.RateCard.RateEffectiveTo
                </div>

                <div style="padding:10px 0px">
                    Status : @Model.RateCard.Status
                </div>
                @*<div style="padding:10px 0px">
                    Created By : @Model.RateCard.CreatedBy
                </div>*@

                <div class="d-flex justify-content-end ">
                    <a class="btn btn-primary js-delete" href=""
                       onclick="ChangeStatus('@Url.Action("UpdateApprovalStatus", "RateCard")',@Model.RateCard.Id, true); return false; ">Approve</a>
                    <a class="btn btn-primary js-delete" style="margin-left:10px;" href=""
                       onclick="ChangeStatus('@Url.Action("UpdateApprovalStatus", "RateCard")',@Model.RateCard.Id, false); return false;">Declined</a>
                    <a type="button" asp-action="List" class="btn btn-danger">
                        Cancel
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('#priceModelMenu').addClass('active');
            if ($('#sidebar ul li.dropdown.active')) {
                $('#sidebar ul li.dropdown.active ul').addClass('show');
                $('#packageMenuItem').addClass('active');
                $('#sidebar ul li.dropdown.active a.nav-link.drop-logo').attr('aria-expanded', 'true');
            }

            /*For Beadcrum Start*/
            $('#homeMenu').addClass('breadcrumb-item').append('Price Model');
            $('#mainMenu').addClass('breadcrumb-item').append('Rate Card');
            $('#subMenu').addClass('breadcrumb-item active').append('Details');
            /*For Beadcrum End*/
        });
    </script>
}


